# Node modules
node_modules/

# Environment files
.env
.env.local
.env.development
.env.production

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Build folders
dist/
build/

# Docker
docker-data/

# AWS keys / secrets
*.pem
*.key

# Redis dump
dump.rdb

# Coverage
coverage/

# Temporary files
tmp/
temp/